<div class="shareform clearfix" >
    <h4 class="share-title">Enter user email to share with</h4>
  <%= form_tag( task_share_for_user_path(@task_id)) do %>
        <div class="input-group">
            <%= email_field_tag :email,'', class:"form-control", placeholder: "User e-mail" %>
            <div class="input-group-btn"><%= submit_tag "Share",class:"btn btn-success" %></div>
        </div>
    <%end%>
</div>