<div class="container-fluid main">
  <div class="centered text-center">
    <h1>TasksManager</h1>
    <h4>Test project</h4>
    <%= link_to "Start", task_show_path, class:"btn btn-success button-home-page" %>
  </div>
</div>
